body{
    background-color: lightgrey;
    font-family: 'Comfortaa', cursive;
}

h1{
    text-align: center;
}

button{
    font-family: 'Comfortaa', cursive;
    height: 50px;
    width: 200px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

#choices, #list-data{
    list-style-type: none;
    font-family: 'Comfortaa', cursive;
}

#choices li{
    height: 100px;
    width: 700px;
}

img{
    height: 300px;
    width: 300px;
    border: none;
}